@media screen and (max-width: 767px) {
  .contacts-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}

.contacts-list {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

@media screen and(min-width: 1200px) {
  .contacts-list__item + .contacts-list__item {
    margin-left: 30px;
  }
}

@media screen and(min-width: 768px) {
  .contacts-list__link {
    color: $primary-black-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.contacts-list__icon {
  margin-right: 10px;
  fill: $primary-black-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .contacts-list__link:hover &,
  .contacts-list__link:focus & {
    fill: $accent-color;
  }
}
