footer {
  background-color: #2f303a;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .tablet--container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
  }
}

.address {
  text-decoration: none;
  font-family: Roboto;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.address__postal,
.address__connect {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__postal {
  margin-bottom: 8px;
  color: $primary-white-color;
}
.mail {
  margin-bottom: 8px;
}

.address__connect:hover,
.address__connect:focus {
  color: $accent-color;
}

.footer__list-box {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 5px;
    margin-right: 89px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;
}

.footer__list {
  display: flex;
  padding-left: 0;
  justify-content: center;

  @media screen and(max-width: 767px) {
    margin-bottom: 60px;
  }
}

.footer__item {
  margin-right: 10px;

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.footer__social--link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 90px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:nth-child(4n) {
    margin-right: 0px;
  }

  &:focus,
  &:hover {
    background-color: $accent-color;
  }
}

.footer__social-network {
  display: block;
  width: 20px;
  height: 20px;
  fill: $primary-white-color;
}

.footer__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $primary-white-color;
  display: block;
}

.footer__form-box {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__input {
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: rgba(47, 48, 58, 1);
  color: $primary-white-color;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
}

.footer__button--ikon {
  height: 24px;
  width: 24px;
  fill: $primary-white-color;
  margin-left: 10px;
}
