footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.address__postal,
.address__connect {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__postal {
  margin-bottom: 8px;
  color: $primary-white-color;
}

@media screen and (min-width: 1200) {
  .address__postal {
    margin-bottom: 9px;
  }
}

.mail {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200) {
  .mail {
    margin-bottom: 9px;
  }
}

.address__connect:hover,
.address__connect:focus {
  color: $accent-color;
}

@media screen and (min-width: 1200) {
  .footer__list-box {
    margin-left: 70px;
    padding-top: 12px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;
}

.footer__list {
  display: flex;
  padding-left: 0;
}

.footer__item {
  margin-right: 10px;

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.footer__social--link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 90px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:nth-child(4n) {
    margin-right: 0px;
  }

  &:focus,
  &:hover {
    background-color: $accent-color;
  }
}

.footer__social-network {
  display: block;
  width: 20px;
  height: 20px;
  fill: $primary-white-color;
}

@media screen and (min-width: 1200) {
  .footer__form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 12px;
  }
}

.footer__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}

@media screen and (min-width: 768) {
  .footer__form-box {
    display: flex;
  }
}

.footer__input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding-left: 16px;
  background-color: rgba(47, 48, 58, 1);
  color: $primary-white-color;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 768) {
    margin-right: 12px;
  }
  @media screen and (min-width: 1200) {
    width: 358px;
  }
}

.footer__button--ikon {
  height: 24px;
  width: 24px;
  fill: $primary-white-color;
  margin-left: 10px;
}
